@{ 
    var webinfo = Services.KeyService.Instance.keydata("BrandName");
}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Admin")">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">@(webinfo.Count() > 0 ? webinfo.FirstOrDefault().Name : "") <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index","Admin")">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("AlbumList","Admin")">
            <i class="bi bi-file-image"></i>
            <span>Album</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("BannerList","Admin")">
            <i class="bi bi-images"></i>
            <span>Banner</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("CategoryList","Admin")">
            <i class="bi bi-card-list"></i>
            <span>Categories</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ClientsList","Admin")">
            <i class="bi bi-person-check"></i>
            <span>Clients</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Newsletter","Admin")">
            <i class="bi bi-envelope"></i>
            <span>Newsletter</span>
        </a>
    </li>
    @*<li class="nav-item">
        <a class="nav-link" href="@Url.Action("TravelAlbumList","Admin")">
            <i class="bi bi-signpost-split"></i>
            <span>Travel Album</span>
        </a>
    </li>*@
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("WebsiteInformation","Admin")">
            <i class="bi bi-key"></i>
            <span>Website Info</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Contact","Admin")">
            <i class="bi bi-people"></i>
            <span>Contact Enquiry</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>

