@{
    var user = Context.Session["Admin"];
    var webinfo = Services.KeyService.Instance.keydata("BrandName");
}

@*<script src="~/Scripts/cookie.js"></script>
<script src="/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="/signalr/hubs"></script>*@
<style>
    .dropdown-toggle::after {
        display: none;
    }

    .notify .btn {
        outline: none !important;
        border: none;
    }

    .notifyanchortrue {
        cursor: pointer;
    }

    .notifyanchorfalse {
        cursor: auto;
    }

    .btn.focus, .btn:focus {
        outline: 0;
        box-shadow: none;
    }

    .dropdown-toggle:hover {
        color: red;
    }

    .top-text-block {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: inherit !important;
        position: relative;
    }

        .top-text-block:hover:before {
            content: '';
            width: 4px;
            background: #f05a1a;
            left: 0;
            top: 0;
            bottom: 0;
            position: absolute;
        }

        .top-text-block.unread {
            background: #ffc;
        }

        .top-text-block .top-text-light {
            color: #999;
            font-size: 0.8em;
        }

    .top-head-dropdown .dropdown-menu {
        width: 350px;
        height: 300px;
        overflow: auto;
    }

    .top-head-dropdown li:last-child .top-text-block {
        border-bottom: 0;
    }

    .topbar-align-center {
        text-align: center;
    }

    .loader-topbar {
        margin: 5px auto;
        border: 3px solid #ddd;
        border-radius: 50%;
        border-top: 3px solid #666;
        width: 22px;
        height: 22px;
        -webkit-animation: spin-topbar 1s linear infinite;
        animation: spin-topbar 1s linear infinite;
    }

    @@-webkit-keyframes spin-topbar {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin-topbar {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<style>
    .wave {
        animation-name: wave-animation; /* Refers to the name of your @@keyframes element below */
        animation-duration: 2.5s; /* Change to speed up or slow down */
        animation-iteration-count: infinite; /* Never stop waving :) */
        transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
        display: inline-block;
    }

    @@keyframes wave-animation {
        0% {
            transform: rotate( 0.0deg)
        }

        10% {
            transform: rotate(14.0deg)
        }
        /* The following five values can be played with to make the waving more or less extreme */
        20% {
            transform: rotate(-8.0deg)
        }

        30% {
            transform: rotate(14.0deg)
        }

        40% {
            transform: rotate(-4.0deg)
        }

        50% {
            transform: rotate(10.0deg)
        }

        60% {
            transform: rotate( 0.0deg)
        }
        /* Reset for the last half to pause */
        100% {
            transform: rotate( 0.0deg)
        }
    }
    /* For demonstration purposes only: */

</style>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            @*<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>*@
            <div>
                <h5 class="mb-0 text-gray-800">Hi! <span class="wave">👋</span> @(webinfo.Count() > 0 ? webinfo.FirstOrDefault().Description : "")</h5>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Search for..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Alerts -->
        
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-lg-inline text-gray-600 small">@(user != null?user.ToString():"")</span>
            </a>
            <!-- Dropdown - User Information -->
        </li>
        <li class="nav-item dropdown no-arrow align-self-center" @(user == null ? "hidden" : "" )>
            <a class="btn btn-primary loginbtn" href="/Account/AdminLogout">
                Logout
            </a>
        </li>

    </ul>

</nav>

<script>
    //$(document).ready(function () {
    //    CheckOrderCookie();
    //    getNotificationData();
    //});
   @*function getNotificationData() {
       $.ajax({
           type: 'POST',
           url: '@Url.Action("GetNotificationData", "Notificationaction")',
       })
           .done(function (response) {
           var returnedData = JSON.parse(response);
           if (returnedData.length > 0) {
               $("#notifyCount").html(returnedData.length);
               if (returnedData.length > 1) {
                   var variable1 = '' +
                       ' <li class="liNotify text-right pr-3 p-1"><a class="text-danger text-decoration-underline" onclick="removeAllNotification()" style="cursor:pointer;">Remove All</a></li>' +
                       '';
                   $("#notifyDropdown").append(variable1);
               }
               $("#notifybell").addClass("wave");
               jQuery.each(returnedData, function (index, item) {
                   var variable = '' +
                       ' <li id="noti-id' + item.Id +'" class="liNotify">' +
                       '     <a href="' + item.AnchorLink +'" class="top-text-block ' + (item.AnchorLink != "" && item.AnchorLink != null ? "notifyanchortrue" : "notifyanchorfalse") + '">' +
                       '         <div class="top-text-heading">' + item.Message + '</div>' +
                       '         <div class="top-text-light">' + item.TimeTrek + '</div>' +
                       '     </a>' +
                       ' <div class="text-right"><a class="m-3 notifyanchortrue" onclick="removeNotification(' + item.Id +')">Mark as read</a></div>' +
                       '<hr style="margin: 5px 5px;" class="' + (returnedData.length == index + 1 ? "d-none" : "") +'">' +
                       ' </li>' +
                       '';
                   $("#notifyDropdown").append(variable);
               });
           }
           else {
               var variable = '' +
                   '    <li class="text-center p-4"><div><span>No notification available.</span></div></li>' +
                   '';
               $("#notifyDropdown").append(variable);
           }
       })
       .fail(function (XMLHttpRequest, textStatus, errorThrown) {
           Swal.fire({
               icon: 'error',
               title: 'Oops...',
               text: 'Something went wrong!',
           })
       });
    }
        $(function () {
        // Proxy created on the fly
        var job = $.connection.myHub;
        // Declare a function on the job hub so the server can invoke it
            job.client.broadcaastTotalOrderData = function (count) {
                $("#TodayEarnings").html(count.TodayEarning);
                $("#TodayOrders").html(count.TodayOrdersCount);
                $("#MonthlyEarnings").html(count.MonthlyEarning);
                $("#MonthlyOrders").html(count.MonthlyOrdersCount);
                $("#YearlyEarning").html(count.YearlyEarning);
                $("#YearlyOrders").html(count.YearlyOrdersCount);
                addOrderIdInCookie(count.CurrentOrderId);
                var urlpath = window.location.pathname;
                setTimeout(function () {// wait for 5 secs(2)
                    if (urlpath == "/Admin") {
                        let myChart2 = new Chart();
                        daySale();
                        TriCharts();
                    }
                    else {
                        loadPOPartial();
                    }
                }, 1550);

            //TriCharts();
        };

            job.client.BrodcaastNotificationData = function () {
                $("#notifyDropdown").html("");
                getNotificationData();
        };
        // Start the connection
        $.connection.hub.start()
            .done(function () {
                //Server Call
            })
            .fail(function () {
                console.log("Could not Connect!");
            });

        });
        var newOrdersList = [];
    function addOrderIdInCookie(Id) {
        var existing = $.cookie('newOrders');
        if (existing != undefined && existing != "" && existing != null && existing != "null") {
            newOrdersList = existing.split('-');
        }
        else {
            newOrdersList = [];
        }
        newOrdersList.push(Id);
        $.cookie('newOrders', newOrdersList.join('-'), { path: '/' });
        //$("#ordersCountCookie").removeClass("d-none");
        //$("#ordersCountCookie").html(newOrdersList.length);
    }
    function CheckOrderCookie() {
        var existing = $.cookie('newOrders');
        if (existing != undefined && existing != "" && existing != null && existing != "null") {
            newOrdersList = existing.split('-');
            //$("#ordersCountCookie").removeClass("d-none");
            //$("#ordersCountCookie").html(newOrdersList.length);

            $.each(newOrdersList, function (index, value) {
                $('#tr' + value).css({ 'background-color': 'rgb(243 243 243)' });
            });
        }
    }
    function removeNotification(id) {
       $.ajax({
           type: 'POST',
           url: '@Url.Action("DeleteNotificationData", "Notificationaction")',
           data: {
               Id: id,
           }
       })
       .done(function (response) {
           if (response == "true") {
               $("#noti-id" + id).hide();
               var count = $("#notifyCount").html();
               var notiCount = parseInt(count) - 1;
               $("#notifyCount").html(notiCount);
               if (notiCount == 0) {
                   var variable = '' +
                       '    <li class="text-center p-4"><div><span>No notification available.</span></div></li>' +
                       '';
                   $("#notifyDropdown").append(variable);
                   $("#notifyCount").hide();
               }
               $("#notifyDropdown").addClass("show");
               $(".top-head-dropdown").addClass("show");
           }
       })
       .fail(function (XMLHttpRequest, textStatus, errorThrown) {
           Swal.fire({
               icon: 'error',
               title: 'Oops...',
               text: 'Something went wrong!',
           })
       });
    }
    function removeAllNotification() {
       $.ajax({
           type: 'POST',
           url: '@Url.Action("DeleteAllNotificationData", "Notificationaction")',
       })
           .done(function (response) {
               if (response == "true") {
                   var variable = '' +
                       '    <li class="text-center p-4"><div><span>No notification available.</span></div></li>' +
                       '';
                   $("#notifyDropdown").append(variable);
                   $("#notifyCount").hide();
                   $(".liNotify").hide();
               $("#notifyDropdown").addClass("show");
               $(".top-head-dropdown").addClass("show");
           }
       })
       .fail(function (XMLHttpRequest, textStatus, errorThrown) {
           Swal.fire({
               icon: 'error',
               title: 'Oops...',
               text: 'Something went wrong!',
           })
       });
    }*@
</script>

